<form class="ui large form segment">
  <h3 class="ui header"> Add a Link</h3>

  <div class="field">
    <label for="title"> Title: </label>
    <input name="title" #newTitle>
  </div>
  <div class="field">
    <label for="link"> Link: </label>
    <input name="link" #newLink>
  </div>
  <button (click)="addArticle(newTitle,newLink)"
          class="ui positive right floated button"> Submit link
  </button>
</form>
<div class="ui grid posts">
  <app-article
    *ngFor="let article of sortedArticles()"
    [article]="article">
  </app-article>
</div>

<h4 class="ui horizontal divider header">
  Current choice is {{ choice }}
</h4>

<div class="ui raised segment">
  <ul [ngSwitch]="choice">
    <li *ngSwitchCase="1">First choice</li>
    <li *ngSwitchCase="2">Second choice</li>
    <li *ngSwitchCase="3">Third choice</li>
    <li *ngSwitchCase="4">Fourth choice</li>
    <li *ngSwitchCase="2">Second choice, again</li>
    <li *ngSwitchDefault>Default choice</li>
  </ul>
</div>

<div style="margin-top: 20px;">
  <button class="ui primary button" (click)="nextChoice()">
    Next choice
  </button>
</div>
